<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tistory.f5074.spring_boot_jsp.mapper.DrawingMapper">
	<resultMap id="drawingMap" type="com.tistory.f5074.spring_boot_jsp.domain.DrawingVO">
		<result property="fileId" column="FILE_ID"/>
		<result property="fileNm" column="FILE_NM"/>
		<result property="fileContent" column="FILE_CONTENT"/>
		<result property="fileFullNm" column="FILE_FULL_NM"/>
		<result property="crtId" column="CRT_ID"/>
		<result property="crtDt" column="CRT_DT"/>
		<result property="chgId" column="CHG_ID"/>
		<result property="chgDt" column="CHG_DT"/>
	</resultMap>
	<resultMap id="iconMap" type="com.tistory.f5074.spring_boot_jsp.domain.IconVO">
		<result property="iconId" column="ICON_ID"/>
		<result property="iconNm" column="ICON_NM"/>
		<result property="iconContent" column="ICON_CONTENT"/>
		<result property="iconFullNm" column="ICON_FULL_NM"/>
		<result property="crtId" column="CRT_ID"/>
		<result property="crtDt" column="CRT_DT"/>
		<result property="chgId" column="CHG_ID"/>
		<result property="chgDt" column="CHG_DT"/>
	</resultMap>
	
	<resultMap id="equipmentMap" type="com.tistory.f5074.spring_boot_jsp.domain.EquipmentVO">
		<result property="fileId" column="FILE_ID"/>
		<result property="iconId" column="ICON_ID"/>
		<result property="iconFullNm" column="ICON_FULL_NM"/>
		<result property="eqpId" column="EQP_ID"/>
		<result property="eqpNm" column="EQP_NM"/>
		<result property="eqpContent" column="EQP_CONTENT"/>
		<result property="eqpWidth" column="EQP_WIDTH"/>
		<result property="eqpHeight" column="EQP_HEIGHT"/>
		<result property="eqpX" column="EQP_X"/>
		<result property="eqpY" column="EQP_Y"/>
		<result property="eqpVisible" column="EQP_VISIBLE"/>
		<result property="eqpEnable" column="EQP_ENABLE"/>
		<result property="crtId" column="CRT_ID"/>
		<result property="crtDt" column="CRT_DT"/>
		<result property="chgId" column="CHG_ID"/>
		<result property="chgDt" column="CHG_DT"/>
	</resultMap>	
	<select id="selectDrawingList" parameterType="com.tistory.f5074.spring_boot_jsp.domain.DrawingVO" resultMap="drawingMap">
		SELECT FILE_ID
			, FILE_NM
			, FILE_CONTENT
			, FILE_FULL_NM
			, CRT_ID
			, TO_CHAR(CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
			, CHG_ID
			, TO_CHAR(CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS CHG_DT
		FROM DRAWING
		<if test="fileId != null and fileId != ''">
		WHERE FILE_ID = #{fileId}
		</if>
		ORDER BY TO_NUMBER(FILE_ID) DESC
	</select>
	<select id="selectIconList" parameterType="com.tistory.f5074.spring_boot_jsp.domain.IconVO" resultMap="iconMap">
		SELECT ICON_ID
			, ICON_NM
			, ICON_CONTENT
			, ICON_FULL_NM
			, CRT_ID
			, TO_CHAR(CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
			, CHG_ID
			, TO_CHAR(CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS CHG_DT
		FROM ICON
		<if test="iconId != null and iconId != ''">
		WHERE ICON_ID = #{iconId}
		</if>
		ORDER BY TO_NUMBER(ICON_ID) DESC
	</select>
	<select id="selectEquipmentList" parameterType="com.tistory.f5074.spring_boot_jsp.domain.EquipmentVO" resultMap="equipmentMap">
		SELECT EQP.EQP_ID
			, EQP.FILE_ID
			, EQP.ICON_ID
			, EQP.EQP_NM
			, EQP.EQP_CONTENT
			, EQP.EQP_WIDTH
			, EQP.EQP_HEIGHT
			, EQP.EQP_X
			, EQP.EQP_Y
			, EQP.EQP_VISIBLE
			, EQP.EQP_ENABLE
			, EQP.CRT_ID
			, TO_CHAR(EQP.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
			, EQP.CHG_ID
			, TO_CHAR(EQP.CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS CHG_DT
			, ICO.ICON_FULL_NM
		FROM EQUIPMENT EQP
		INNER JOIN ICON ICO ON EQP.ICON_ID = ICO.ICON_ID
		INNER JOIN DRAWING DRA ON EQP.FILE_ID = DRA.FILE_ID
		<if test="fileId != null and fileId != ''">
		WHERE EQP.FILE_ID = #{fileId}
		</if>
		ORDER BY TO_NUMBER(EQP.EQP_ID) DESC
	</select>
	
	<insert id="insertDrawing" parameterType="com.tistory.f5074.spring_boot_jsp.domain.DrawingVO">
		INSERT INTO DRAWING
		(
			  FILE_ID
			, FILE_NM
			, FILE_CONTENT
			, FILE_FULL_NM
			, CRT_ID
			, CRT_DT
			, CHG_ID
			, CHG_DT
		)
		VALUES 
		(
			  (SELECT NVL(MAX(TO_NUMBER(FILE_ID)) + 1, 1) AS FILE_ID FROM DRAWING)
			, #{fileNm}
			, #{fileContent}
			, #{fileFullNm}
			, #{crtId}
			, SYSDATE
			, #{chgId}
			, SYSDATE
		)
	</insert>
	<insert id="insertIcon" parameterType="com.tistory.f5074.spring_boot_jsp.domain.IconVO">
		INSERT INTO ICON 
		(
			ICON_ID
			, ICON_NM
			, ICON_CONTENT
			, ICON_FULL_NM
			, CRT_ID
			, CRT_DT
			, CHG_ID
			, CHG_DT
		)
		VALUES 
		(
			(SELECT NVL(MAX(TO_NUMBER(ICON_ID)) + 1, 1) AS ICON_ID FROM ICON)
			, #{iconNm}
			, #{iconContent}
			, #{iconFullNm}
			, #{crtId}
			, SYSDATE
			, #{chgId}
			, SYSDATE
		)
	</insert>
		
	<insert id="insertEquipment" parameterType="com.tistory.f5074.spring_boot_jsp.domain.EquipmentVO">
		INSERT INTO EQUIPMENT 
		(
			EQP_ID
			, FILE_ID
			, ICON_ID
			, EQP_NM
			, EQP_CONTENT
			, EQP_WIDTH
			, EQP_HEIGHT
			, EQP_X
			, EQP_Y
			, EQP_VISIBLE
			, EQP_ENABLE
			, CRT_ID
			, CRT_DT
			, CHG_ID
			, CHG_DT
		)
		VALUES 
		(
			(SELECT NVL(MAX(TO_NUMBER(EQP_ID)) + 1, 1) AS EQP_ID FROM EQUIPMENT)
			, #{fileId}
			, #{iconId}
			, #{eqpNm}
			, #{eqpContent}
			, #{eqpWidth}
			, #{eqpHeight}
			, #{eqpX}
			, #{eqpY}
			, #{eqpVisible}
			, #{eqpEnable}
			, #{crtId}
			, SYSDATE
			, #{chgId}
			, SYSDATE
		)
	</insert>
	<update id="updateEquipment" parameterType="com.tistory.f5074.spring_boot_jsp.domain.EquipmentVO">
		UPDATE EQUIPMENT
		SET EQP_X = #{eqpX}
			, EQP_Y = #{eqpY}
			, CHG_ID = #{chgId}
			, CHG_DT = SYSDATE
		WHERE EQP_ID = #{eqpId}
	</update>
</mapper>
